<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Real-Time Productos</title>
</head>
<body>
  {{#if user}}
    <h2>Bienvenido, {{user.first_name}} {{user.last_name}}!</h2>
    <p>Email: {{user.email}}</p>
    <p>Rol: {{user.role}}</p>
    <!-- Formulario de logout -->
    <form action="/logout" method="post">
      <button type="submit">Logout</button>
    </form>
  {{/if}}
  <h1>Real-Time Productos</h1>
  <ul id="productList"></ul>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.js"></script>
  <script>
    const socket = io();

    socket.on('updateProducts', (products) => {
      updateProductList(products);
    });

    function updateProductList(products) {
      const productList = document.getElementById('productList');
      productList.innerHTML = '';

      products.forEach((product) => {
        const listItem = document.createElement('li');
        listItem.textContent = `${product.title} - ${product.price}`;
        productList.appendChild(listItem);
      });
    }
  </script>
</body>
</html>