<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket</title>
</head>
<body>
  <h1>Ticket</h1>
  <p>Código: {{ticket.code}}</p>
  <p>Fecha de compra: {{ticket.purchase_datetime}}</p>
  <p>Monto total: {{ticket.amount}}</p>
  <p>Comprador: {{ticket.purchaser}}</p>
</body>
</html>